


<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-admin/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Jan 2023 23:28:56 GMT -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Ekka - Admin Dashboard HTML Template.">

	<title>Ekka - Admin Dashboard HTML Template.</title>

	<!-- FAVICON -->
	<link href="/color/img/favicon.png" rel="shortcut icon" />

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">

	<link href="../../../../cdn.jsdelivr.net/npm/%40mdi/font%404.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

	<!-- PLUGINS CSS STYLE -->
	<link href="/color/plugins/simplebar/simplebar.css" rel="stylesheet" />

	<link href='/color/plugins/flag-icons/css/flag-icon.min.css' rel='stylesheet'>

	<!-- Ekka CSS -->
	<link id="ekka-css" href="/color/css/ekka.css" rel="stylesheet" />

</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- LEFT MAIN SIDEBAR -->
		<div class="ec-left-sidebar ec-bg-sidebar">
			<div id="sidebar" class="sidebar ec-sidebar-footer">

				<div class="ec-brand">
					<a href="index.html" title="Ekka">
						<img class="ec-brand-icon" src="/color/img/logo/ec-site-logo.png" alt="" />
						<span class="ec-brand-name text-truncate">Ekka</span>
					</a>
				</div>

				<!-- begin sidebar scrollbar -->
				<div class="ec-navigation" data-simplebar>
					<!-- sidebar menu -->
					<ul class="nav sidebar-inner" id="sidebar-menu">
						<!-- Dashboard -->
						<li>
							<a class="sidenav-item-link" href="index.html">
								<i class="mdi mdi-view-dashboard-outline"></i>
								<span class="nav-text">Dashboard</span>
							</a>
							<hr>
						</li>

						<!-- Vendors -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-account-group-outline"></i>
								<span class="nav-text">Vendors</span> <b class="caret"></b>
							</a>

							<ul class="collapse sub-menu" id="vendors" data-parent="#sidebar-menu">
								<li class="">
									<a class="sidenav-item-link" href="vendor-card.html">
										<span class="nav-text">Vendor Grid</span>
									</a>
								</li>

								<li class="">
									<a class="sidenav-item-link" href="vendor-list.html">
										<span class="nav-text">Vendor List</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="vendor-profile.html">
										<span class="nav-text">Vendors Profile</span>
									</a>
								</li>
							</ul>
						</li>

						<!-- Users -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-account-group"></i>
								<span class="nav-text">Users</span> <b class="caret"></b>
							</a>

							<ul class="collapse sub-menu" id="users" data-parent="#sidebar-menu">
								<li>
									<a class="sidenav-item-link" href="user-card.html">
										<span class="nav-text">User Grid</span>
									</a>
								</li>

								<li class="">
									<a class="sidenav-item-link" href="user-list.html">
										<span class="nav-text">User List</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="user-profile.html">
										<span class="nav-text">Users Profile</span>
									</a>
								</li>
							</ul>
							<hr>
						</li>

						<!-- Category -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-dns-outline"></i>
								<span class="nav-text">Categories</span> <b class="caret"></b>
							</a>
							<ul class="collapse sub-menu" id="categorys" data-parent="#sidebar-menu">
								<li class="">
									<a class="sidenav-item-link" href="main-category.html">
										<span class="nav-text">Main Category</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="sub-category.html">
										<span class="nav-text">Sub Category</span>
									</a>
								</li>
							</ul>
						</li>

						<!-- Products -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-palette-advanced"></i>
								<span class="nav-text">Products</span> <b class="caret"></b>
							</a>

							<ul class="collapse sub-menu" id="products" data-parent="#sidebar-menu">
								<li class="">
									<a class="sidenav-item-link" href="product-add.html">
										<span class="nav-text">Add Product</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="product-list.html">
										<span class="nav-text">List Product</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="product-grid.html">
										<span class="nav-text">Grid Product</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="product-detail.html">
										<span class="nav-text">Product Detail</span>
									</a>
								</li>
							</ul>
						</li>

						<!-- Orders -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-cart"></i>
								<span class="nav-text">Orders</span> <b class="caret"></b>
							</a>

							<ul class="collapse sub-menu" id="orders" data-parent="#sidebar-menu">
								<li class="">
									<a class="sidenav-item-link" href="new-order.html">
										<span class="nav-text">New Order</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="order-history.html">
										<span class="nav-text">Order History</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="order-detail.html">
										<span class="nav-text">Order Detail</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="invoice.html">
										<span class="nav-text">Invoice</span>
									</a>
								</li>
							</ul>
						</li>

						<!-- Reviews -->
						<li>
							<a class="sidenav-item-link" href="review-list.html">
								<i class="mdi mdi-star-half"></i>
								<span class="nav-text">Reviews</span>
							</a>
						</li>

						<!-- Brands -->
						<li>
							<a class="sidenav-item-link" href="brand-list.html">
								<i class="mdi mdi-tag-faces"></i>
								<span class="nav-text">Brands</span>
							</a>
							<hr>
						</li>

						<!-- Authentication -->
						<li class="has-sub ">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-login"></i>
								<span class="nav-text">Authentication</span> <b class="caret"></b>
							</a>
							<ul class="collapse sub-menu" id="authentication" data-parent="#sidebar-menu">
								<li class="">
									<a href="sign-in.html">
										<span class="nav-text">Sign In</span>
									</a>
								</li>
								<li class="">
									<a href="sign-up.html">
										<span class="nav-text">Sign Up</span>
									</a>
								</li>
							</ul>
						</li>

						<!-- Icons -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-diamond-stone"></i>
								<span class="nav-text">Icons</span> <b class="caret"></b>
							</a>

							<ul class="collapse sub-menu" id="icons" data-parent="#sidebar-menu">
								<li class="">
									<a class="sidenav-item-link" href="material-icon.html">
										<span class="nav-text">Material Icon</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="font-awsome-icons.html">
										<span class="nav-text">Font Awsome Icon</span>
									</a>
								</li>
								<li class="">
									<a class="sidenav-item-link" href="flag-icon.html">
										<span class="nav-text">Flag Icon</span>
									</a>
								</li>
							</ul>
						</li>

						<!-- Other Pages -->
						<li class="has-sub active expand">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-image-filter-none"></i>
								<span class="nav-text">Other Pages</span> <b class="caret"></b>
							</a>
							<span class="collapse show">
								<ul class="sub-menu" id="otherpages" data-parent="#sidebar-menu">
									<li class="has-sub active">
										<a href="404.html">404 Page</a>
									</li>
								</ul>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- PAGE WRAPPER -->
		<div class="ec-page-wrapper">

			<!-- Header -->
			

			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="error-wrapper border bg-white px-5">
						<div class="row justify-content-center align-items-center text-center">
							<div class="col-xl-4">
								<h1 class="text-primary bold error-title">404</h1>
								<p class="pt-4 pb-5 error-subtitle">Looks like something went wrong.</p>
								<a href="index.html" class="btn btn-primary btn-pill">Back to Home</a>
							</div>

							<div class="col-xl-6 pt-5 pt-xl-0 text-center">
								<img src="/color/img/lightenning.png" class="img-fluid" alt="Error Page Image">
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->

			<!-- Footer -->
			

		</div> <!-- End Page Wrapper -->
	</div> <!-- End Wrapper -->

	<!-- Common Javascript -->
	<script src="/color/plugins/jquery/jquery-3.5.1.min.js"></script>
	<script src="/color/js/bootstrap.bundle.min.js"></script>
	<script src="/color/plugins/simplebar/simplebar.min.js"></script>
	<script src="/color/plugins/jquery-zoom/jquery.zoom.min.js"></script>
	<script src="/color/plugins/slick/slick.min.js"></script>

	<!-- Option Switcher -->
	<script src="/color/plugins/options-sidebar/optionswitcher.js"></script>

	<!-- Ekka Custom -->
	<script src="/color/js/ekka.js"></script>
</body>


<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-admin/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Jan 2023 23:28:56 GMT -->
</html>
